.text-heading{
    color: white;
   box-align: center;
  }
.header{
    background-color: rgb(42, 38, 46);
    padding: 15px;
    text-align: center;
    color:white;
  }
  .navi_menu{
    overflow: hidden;
    font-size: large;
    background-color: rgb(31, 26, 34);
    
  }
  .navi_menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
  }
  .navi_menu a:hover{
    background-color:white;
    color: rgb(67, 52, 87);
  }
  .columnB{
    float:left;
    width:20%;
    font-size: x-large;
    padding: 10px;
    text-align:center;
    background-color:rgba(50, 49, 51, 0.411);
    background-blend-mode: lighten;
    margin-right: 50;
    margin-left: 50;
    height:10cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .columnA{
    float:left;
    width: 20%;
    padding:10px;
    height:10cm;
    font-size: x-large;
    text-align: center;
    background-color:rgba(50, 49, 51, 0.411);
    background-blend-mode:difference;
    margin-right: 50;
    margin-left: 130;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .columnC{
    float:left;
    width:20%;
    height: 10cm;
    font-size: x-large;
    padding:10px;
    text-align:justify;
    background-color:rgba(50, 49, 51, 0.411);
    background-blend-mode: lighten;
    margin-right:50;
    margin-left:50;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .footer{
    background-color:rgb(10, 10, 26);
    padding:15px;
    text-align:center;
    overflow:hidden;
    background-color:#333;
    clear:left;
  }
  .footer a{
    display:inline;
    color:white;
    padding:14px 16px;
    text-decoration:none;
    font-family:arial;
  }
.all{
    padding-left: 18%;
}
h2{
  text-align:center;
}

.aboutme{
    text-align: center;
    font-size: larger;
}
.aboutme2{
   border-style: dotted;
   font-size: large;
}
.bg1{
    background-color:#4a88cf;
    color:rgb(248, 189, 79);
}

td{
    background-color: rgb(212, 174, 228);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;

}
.Info{
    text-align: center;
    font-size: x-large;
    height: 2cm;
    margin-top: 2%;

}
.tech{
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edu{
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}